:root {
  --spacing: clamp(1rem, calc(-3.48rem + 11.2vw), 4rem);
}

.container {
  background-color: #25232e;
  color: white;
  overflow-y: auto;
  padding-inline: var(--spacing);
}

.container hr {
  max-width: clamp(12rem, calc(-3.36rem + 38.4vw), 24rem);
  margin-block: 3rem;
  padding-inline: var(--spacing);
}

.container blockquote {
  border-left: 0.25rem #46444e solid;
  margin-right: auto;
  margin-left: 0;
  background-color: #46444e23;
  padding-block: 0.1rem;
  padding-inline: min(var(--spacing), 2rem);
}

.container img {
  display: block;
  max-width: 100%;
  max-height: 60vh;
  margin-block: 3rem;
  margin-inline: auto;
}

.container ol,
.container ul {
  padding-left: min(calc(var(--spacing) + 0.25rem), 2.25rem);
}

.container code {
  font-family: monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.container :not(pre) > code {
  background-color: #46444e80;
  border-radius: 3px;
  color: #d6ccff;
  padding-inline: 0.3rem;
}

.container a,
.container a code {
  color: #8e71ff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.container td,
.container th {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #46444e;
}

.container th {
  border-bottom-width: 2px;
}
